<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>{% block title %}Quản lý danh sách các công việc cần làm{% endblock %}</title>
</head>

<body>
    <header>
        <h1><a href="{% url 'index' %}">Quản lý danh sách các công việc cần làm</a></h1>
        {% if user.is_authenticated %}
        <nav>
            <span>Xin chào, <b>{{ user.username }}</b></span>
            {% if user.is_staff %}<a href="{% url 'index-user' %}">Thành viên</a>{% endif %}
            <form method="post" action="{% url 'logout' %}" style="display: inline">
                {% csrf_token %}
                <button type="submit">Đăng xuất</button>
            </form>
        </nav>
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>
