<!-- todo_list/todo_app/templates/todo_app/todoitem_confirm_delete.html -->
{% extends "base.html" %}

{% block content %}

<h3>Xóa công việc</h3>

<p>Bạn có muốn xóa công việc: <b>{{ object.title }}</b>
   của danh sách <i>{{ todo_list.title }}</i>?</p>

<form method="POST">
    {% csrf_token %}
    <input
        value="Vâng, hãy xóa nó."
        type="submit">
    <input
        value="Hủy bỏ"
        type="button"
        onclick="location.href='{% url "list" todo_list.id %}';">
</form>

{% endblock %}